.one{
 color: blue;
 border-style: solid;
 border-color: black;
 border-width: 2px;
 display: inline-block;
 background-color: pink;
 
}

.two{
    background-color: aqua;
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: red;
}
.three{
    background-color: aqua;
    color: black;
    display: block;
    border-radius: 1%;
    border-style: solid;
    border-color: red;
    text-align: center;
}